/* this is the css for contact us page */

* {
    color: #757575;
    font-family: 'Quicksand', Arial, sans-serif;
}

* a,
* a:visited,
* a:hover {
    font-family: 'Rajdhani', Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}


/* BODY INCLUDES MAINSUBSECTION AND ALL SUBSECTIONS */

.body {
    margin: 0;
    text-align: center;
    z-index: -1;
}


/* MAINSUBSECTION */

#mainsubsection {
    margin: 0;
    padding: 100px 50px 100px 50px;
    text-shadow: 0px 0px 7px #ffffff;
    background-image: url('images/contactheader.png');
    /* image credits to http://www.clientcenteredsalestraining.com/img/contact.jpg */
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainsubsection span {
    color: #145252;
    font-size: 300%;
    font-weight: 100;
    font-family: 'Rajdhani', Arial, sans-serif;
    letter-spacing: 1px;
}


/* SUBSECTIONS */

.subsectionlink {
    margin: 0;
    padding: 100px 50px 100px 50px;
    transition: background-color 1s ease;
    text-transform: none;
}

.subsectionlink h1 {
    color: #66cc99;
    text-shadow: 2px 2px 1px #f9f9f9;
    transition: color 1s ease, text-shadow 1s ease;
    text-transform: uppercase;
}

.subsectionlink:hover {
    background-color: #66cc99;
}

.subsectionlink:hover h1 {
    color: white;
    text-shadow: 2px 2px 1px #63a28d;
}


/* ----------------------------------------
--- FOR DIFFERENT SCREEN RESOLUTIONS ---
---------------------------------------- */


/* headers */

@media screen and (max-width: 250px) {
    .subsection h1,
    .subsectionlink h1 {
        font-size: 100%;
    }
}


/* webpage heading */

@media screen and (max-width: 300px) {
    #mainsubsection span {
        font-size: 200%;
    }
}
